body {
  font-size: 18px;
  background: rgba(255, 255, 255, 0.98);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 600px;
  left: 0px;
  right: 0px;
  margin: auto;
}

div.container {
  position: relative;
  width: 600px;
  left: 0px;
  right: 0px;
  margin: auto;
  line-height: 1.82;
  word-wrap: break-word;
  overflow: hidden;
}

img {
  width: 100%;
  margin: 20px 0px;
}

a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  cursor: pointer;
  transition: all 100ms;
}

a:hover {
  color: rgba(0, 0, 0, 0.95);
  text-decoration: underline;
}

div.year-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.82);
}

div.year-links {
  margin-bottom: 30px;
}

a.article-link {
  display: block;
}
