body {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 600px;
  left: 0px;
  right: 0px;
  margin: auto;
}

blockquote {
  border-left: 2px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

div.container {
  position: relative;
  width: 600px;
  left: 0px;
  right: 0px;
  margin: auto;
  line-height: 1.82;
  word-wrap: break-word;
  overflow: hidden;
}

img {
  width: 100%;
  margin: 20px 0px;
}

a {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  cursor: pointer;
  transition: all 100ms;
}

a:hover {
  color: rgba(0, 0, 0, 0.95);
  text-decoration: underline;
}
