<head>
  <title>{TITLE}</title>
  <meta name="description" content="{DESCRIPTION}" />
  <meta name="keywords" content="{KEYWORDS}" />
  <meta name="author" content="{AUTHOR}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/v01/tokyo-night-dark.min.css" />
  <link rel="stylesheet" href="/assets/v01/styles.css" />
  <script src="/assets/v01/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>
  {GOOGLE_ANALYTICS}
</head>
